:root {
  --bluecolor: #0a315c;
  --blackcolor: #30374b;
  --buttoncolor: #e3a829
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--bluecolor);
}

.width50{
    width: 50%;
}
.fullwidth-section {
  width: 100%;
}
.header-section,
.section {
  width: 90%;
  margin: auto;
}
.section {
  padding: 60px 0;
}
.section1 {
  background-color: var(--bluecolor);
}
.section1 .header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.section1 .section1__infor {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.section1 .section1__infor span {
  color: #fff;
}
.section1 .section1__dangky a {
  padding: 12px 20px;
  border-radius: 12px;
  background-color: #e3a829;
  color: var(--blackcolor);
  text-decoration: none;
}
.section2 {
    background-image: url(/assets/image/banner1.png);
  background-size: contain;
  aspect-ratio: 3/1;
}
.section h2,
.section3 .section h3 {
  text-align: center;
  color: var(--bluecolor);
  text-transform: uppercase;
}
.section3__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 50px;
}
.section3__content__item {
  text-align: center;
  border: var(--bluecolor) 1px solid;
  border-radius: 8px;
  padding: 50px;
}
.section3__content__item img {
  aspect-ratio: 250 /160;
  padding-bottom: 50px;
}
.section4 .fullwidth-section {
    background-image: url(/assets/image/banner2.png);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 3/1;
  padding: 40px 0;
}
.section5.fullwidth-section{
    background-image: url(/assets/image/banner3.png);
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 3/1;
    padding: 40px 0;
}
.section6.fullwidth-section{
    background-image: url(/assets/image/Banner4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding: 40px 0;
}
.section6 .section{
    display: flex;
}
.section6 .section .width50{
    margin: 0 10%;
}
.section6 .section h2{
    color: #fff ;
    text-align: center;
    padding-bottom: 28px;
    
}
.section6 .section form{
    display: flex;
    flex-direction: column;
}
.section6 .section input{
    padding: 12px;
    margin-bottom: 28px;
    font-size: 20px; 
}
.section6 .section input.button{
    background-color: var(--buttoncolor);
    outline: none;
    color: #fff;
    
}
.section7 h2{
  color: var(--bluecolor);
}
.section7__table table {
    margin: auto;
    border-spacing: 0;
   border-color: var(--bluecolor);
   width: 70%;
   background-image: url(/assets/image/ss_1660780489@3x@3x\ 2.png);
   background-repeat: no-repeat;
  background-position: center center;
}
 .section7__table td, .section7__table tr {
padding:  20px;
} 
.section8__towline{
  text-align: center;
  padding: 30px;
  position: relative;
}
.section8__towline::after{
  content: "";
  position: absolute;
  border-top:32px solid var(--bluecolor);
  border-left: 32px solid transparent ;
  border-right: 32px solid transparent ;
  bottom: -20px;
  left: calc(50% - 32px);
}
.section8__towline span {
  padding: 10px 0;
  font-size: 24px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: var(--bluecolor);
  text-transform: uppercase;
  border-bottom: 1px solid var(--bluecolor) ;
  border-top: 1px solid var(--bluecolor) ;
}
.section8_4icon{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.section8_4icon__item {
  text-align: center;
  line-height: 1.5em;
}
.section9{
  background-image: url(/assets/image/Frame\ 482002\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1200/338;
}
.section12{
  background-color: var(--bluecolor);
}
.section12 .section h2{
  color: #fff;
}
.section12__3option{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:10%
}
.section12__3option__item{
    padding: 28px;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
}
.section12__3option__item span{
  color: var(--buttoncolor);
  font-size: 54px;
  font-family: "Sarabun", sans-serif;
}
.section12__3option__item p{
  color: var(--blackcolor);
}
.section13{
  text-align: center  ;
}
.section13__review__item{
  position: relative;
  
}
.section13__review__item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  width: 46px;
  background-image: url("/assets/image/reviewquote.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.section13__review__item__top{
  display: flex;
  padding-left: 46px;
  padding-right: 40px;
  padding-bottom: 12px;
}
.section13__review__item__top__content p,.section13__review__item__top__content img{
  padding: 10px 8px;
}
.section13__review__item__bottom{
  padding-left: 46px;
  padding-right: 40px;
  
}
